.brands {
    padding-top: 61px;
    padding-bottom: 75px;
}

.brands__content {
    .row-flex();
    justify-content: space-between;
    .xs(justify-content, center);
    align-items: center;
}
.brands__pictures {
    .col();
    .size(6);
    .size-xs(12);
    text-align: center;
}
.brand__main {
    margin-bottom: 40px;
}
.brand__sec {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.brands__text {
    .col();
    .size(6);
    .size-xs(12);
    .xs-block({
        order: -1;
        margin-bottom: 40px;
        text-align: center;
    })
}
.brands__header {
    margin-bottom: 23px;
    font-size: 25px;
    font-weight: 500;
    color: @textcolorDark;
}
.brands__descr {
    line-height: 24px;
}