.btn {
    display: block;
    padding: 12px 30px;
    .md-block({
        // padding: 12px 45px;
    });
    border-radius: 50px;
    background-color: @accent;
    color: #ffffff;
    font-size: 14px;

    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.5s;

    &:hover {
        background-color: darken(@accent, 10%);
    }
}

.btn-o {
    color: @accent;
    border: 1px solid @accent;
    background-color: transparent;

    &:hover {
        color: #fff;
    }
}