// USER VARIABLES SECTION

@accent: #ff7faf; // Accent Color
@fontsize: 16px; // Body Font Size
@textcolor: #939393; // Text Color
@textcolorDark: #4f5064; // Text Color
@mainfamily: 'Futura New', sans-serif; // Main Font Family


// FONTS LOAD SECTION

@font-face {
    font-family: 'Futura New';
    src: local('Futura New Medium Reg'), local('Futura-New-Medium-Reg'),
        url('../fonts/FuturaNewMedium-Reg.woff2') format('woff2'),
        url('../fonts/FuturaNewMedium-Reg.woff') format('woff'),
        url('../fonts/FuturaNewMedium-Reg.ttf') format('truetype');
	font-display: swap;
	font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Futura New';
    src: local('Futura New Heavy Reg'), local('Futura-New-Heavy-Reg'),
        url('../fonts/FuturaNewHeavy-Reg.woff2') format('woff2'),
        url('../fonts/FuturaNewHeavy-Reg.woff') format('woff'),
		url('../fonts/FuturaNewHeavy-Reg.ttf') format('truetype');
	font-display: swap;
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Futura New';
    src: local('Futura New Book Reg'), local('Futura-New-Book-Reg'),
        url('../fonts/FuturaNewBook-Reg.woff2') format('woff2'),
        url('../fonts/FuturaNewBook-Reg.woff') format('woff'),
		url('../fonts/FuturaNewBook-Reg.ttf') format('truetype');
	font-display: swap;
    font-weight: normal;
    font-style: normal;
  }

// GENERAL DOCUMENT STYLES

.reset();

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	.wrapper();
}

::placeholder {
	color: #666;
}

::selection {
	background-color: @accent;
	color: #fff;
}

input,
textarea {
	outline: none;

	&:focus:required:invalid {
		border-color: red
	}

	&:required:valid {
		border-color: green
	}
}

body {
	font-size: @fontsize;
	.md(font-size, 24px);
	min-width: 320px;
	position: relative;
	// line-height: 1.65;
	font-family: @mainfamily;
	font-weight: normal;
	// overflow-x: hidden;
  	color: @textcolor;
  	// letter-spacing: 0.01em;
}

.section__header {
	font-size: 25px;
	.md(font-size, 35px);
	font-weight: 500;
	color: @textcolorDark;
	text-align: center;
}



